@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

section{
    margin-top: 40px;
}

.header_background {
    background-image: url(./images/header/hero_img.jpg);
    height: 600px;
    background-size: cover;
    position: relative;
}

.header_heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header_heading h1,
.header_heading h2 {
    color: #fff;
    text-align: center;
}

.header_heading h2{
    font-weight: normal;
}

.header_bottom{
    height: 80px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}

.header_bottom img{
    height: 60px;
}

nav{
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style-type: none;
    margin-left: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
}

/* about */

.about_section{
    text-align: center;
}

.about_section h2{
    color: yellow;
}

.subtitle{
    margin-top: 8px;
}

.sentence_box{
    margin: 40px auto;
}

.sentence_box p{
    margin-bottom: 16px;
}

.about_section img{
    width: 100%;
}

/* course */
.course_section{
    text-align: center;
}

.course_sentence{
    margin: 16px 0 40px;
}

.course_content{
    display: flex;
}

.course_content img{
    width: 50%;
}

.course_curriculum{
    width: 50%;
    display: flex;
    align-items: center;
    background-color: rgb(242, 242, 242);
}

.course_curriculum_box{
    text-align: left;
    width: 500px;
    margin-left: 40px;
}

.course_curriculum_box p{
    margin-top: 24px;
    letter-spacing: 0.1em;
    line-height: 1.75;
}

.reverse{
    flex-direction: row-reverse;
}

/* news */
.news_section{
    text-align: center;
}

.news_section h2{
    color: yellow;
}

.news_content{
    display: flex;
    margin: 40px 0 80px;
}

.news_box{
    width: 100%;
}

.news_box img{
    width: 100%;
}

.news_article{
    padding: 24px;
    text-align: left;
    letter-spacing: 0.05em;
    line-height: 1.5;
}

.news_sentence{
    margin: 16px 0 8px;
}

.news_date{
    font-size: 14px;
    color: gray;
}

/* .margin1{
    margin-left: 16px;
}

.margin2{
    margin: 0 16px;
}

.margin3{
    margin-right: 16px;
} */

.news_box{
    margin: 0 16px;
}

.news_box:nth-child(2){
    margin: 0;
}

.news_button{
    margin: 0 auto;
}

.news_button a{
    display: inline-block;
    color: #fff;
    background: yellow;
    font-weight: bold;
    text-decoration: none;
    padding: 24px 40px;
}